# Determine Null value

Simple prediction without any knowledge about correlations in our dataset

Builds our baseline for predictions with ML

In [4]:
# load Data
import pandas as pd

df = pd.read_csv("HeteroticOrbifoldMSSMs.csv")
df = df.drop('Unnamed: 0', axis = 1)
df.head()

      Y0  Y1  Y2   Y3  Y4  Y5  Y6  Y7  Y8  Y9  Y10  Y11  Y12  Y13
0  Z2xZ2   7   3  238  47   1   1   9   6   1    6    0   12   42
1  Z2xZ2   7   3  214  47   1   1   5   2   1    6    0   12   50
2  Z2xZ2   7   3  250  51   1   1   7   4   1    8    0   16   48
3  Z2xZ2   7   3  250  35   1   1   7   4   1   10    0   12   46
4  Z2xZ2   7   3  234  51   1   1   7   4   1    6    0   20   42

In [2]:
# check which Geometry label occurs most often
import numpy as np
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()                     # initialize LabelEncoder
le.fit(df.Y0)                           # fit LabelEncoder on Y0
df_Y0 = le.transform(df.Y0)             # transform Y0 to integer
# can combine two single lines above to a single line with:
# df_Y0 = le.fit_transform(df.Y0)
print('That often Geometies occur:')
print(np.bincount(df_Y0))
print('Value which occurs most often')
print(np.bincount(df_Y0).argmax())
print('Transformation Table')
print({i:k for i, k in zip(le.classes_, le.transform(le.classes_))})

That often Geometies occur:
[ 1111   363  1613 55058   936  3289  5033   176 48754    60  1421  3696
   903  2528]
Value which occurs most often
3
Transformation Table
{'Z12-I': 0, 'Z12-II': 1, 'Z2xZ2': 2, 'Z2xZ4': 3, 'Z2xZ6-I': 4, 'Z3xZ3': 5, 'Z3xZ6': 6, 'Z4': 7, 'Z4xZ4': 8, 'Z6-I': 9, 'Z6-II': 10, 'Z6xZ6': 11, 'Z8-I': 12, 'Z8-II': 13}

In [3]:
# Z2xZ4 Geometry occurs most often, namely 55058 times
# Hence predict always Z2xZ4 Geometry,
# to get most precise prediction without any further knowledge
# Calculate now Accuracy 
# (Number of right predictions per number of tatal predictions)
55058/df.shape[0]

0.4406719971826702

Therefore, without any knowledge of correspondences
we can reach an Accuracy of around 44.1 percent